// Grid helper classes

.grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(24%, 2fr));
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

@for $i from 1 through 6 {
  .grid-rg-#{$i} {
    grid-row-gap: #{$i}rem;
  }

  .grid-cg-#{$i} {
    grid-column-gap: #{$i}rem;
  }
}

@for $j from 1 through 100 {
  .grid-w-#{$j} {
    grid-template-columns: repeat(auto-fill, minmax(percentage($j / 100), 2fr));
  }
}
