@import './flex.scss';
@import './grid.scss';
@import './spacing.scss';
@import './typography.scss';
@import './panels.scss';
@import './widths.scss';

body {
  background: #f2f3f8;
  margin: 0;
}

.body {
  padding: 1rem;
}

.no-margin {
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}

.header {
  background: white;
  box-shadow: 0px 1px 10px 1px rgba(69, 65, 78, .06);
  padding: 0 2rem;

  h1 {
    margin: 0 2rem 0 0;
    padding: 1rem 2rem 1rem 0;
    border-right: 1px solid #f1f1f1;
  }

  .tab {
    margin: 0 2rem 0 0;
    cursor: pointer;

    &.active {
      color: #045dbf;
    }

    &:hover {
      color: rgba(#045dbf, 0.6);
    }
  }
}

.side-tab {
  &.active {
    color: #045dbf;
  }

  &:hover {
    color: rgba(#045dbf, 0.6);
  }
}

.empty-tree-chart {
  color: white;
  height: 400px;
}

button {
  background: rgba(#045dbf, 0.8);
  border: none;
  color: white;
  padding: 4px 10px;
  cursor: pointer;

  &:hover {
    background: rgba(#045dbf, 1);
  }
}

.message {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #237700;
  width: 100%;
  z-index: 100;
  color: white;
  text-align: center;
}

.error {
  background: #9a0000;
}